language: python

addons:
  apt:
    packages:
    - unzip

branches:
  only:
    - master

env:
  global:
  - TF_VAR_build_number=${TRAVIS_JOB_NUMBER/./-}
  - PYTHON_PATH=$PYTHON_PATH:${pwd}/plugins/inventory
  matrix:
  # These providers have a full battery of Terraform+Ansible tests
  - PROVIDER=aws DOCKER_SECRETS='-e AWS_SECRET_ACCESS_KEY -e AWS_ACCESS_KEY_ID'
  - PROVIDER=do  DOCKER_SECRETS='-e DIGITALOCEAN_TOKEN'
  - PROVIDER=gce DOCKER_SECRETS='-e GOOGLE_CREDENTIALS'
  # These providers are only linted using `terraform plan`, and have no secrets
  # Secrets are available for CLC, but the build times out.
  - PROVIDER=clc DOCKER_SECRETS='-e CLC_USERNAME -e CLC_PASSWORD'
  - PROVIDER=softlayer
  - PROVIDER=triton

install: python testing/travis.py install

before_script:
  - export TERRAFORM_FILE=testing/terraform/${PROVIDER}.tf
  - export CI_HEAD_COMMIT=$(git rev-list -n 1 --no-merges --branches="$(git rev-parse --abbrev-ref HEAD)" master...HEAD)
  - echo $CI_HEAD_COMMIT

script: python testing/travis.py script

after_script: python testing/travis.py after_script
